
<html>

    <head>

        <script src="/javascripts/handleLogin.js" type="text/javascript"></script>
        <script src="/javascripts/handleRequestPlaylists.js" type="text/javascript"></script>
        <script src="/javascripts/handleCreateParty.js" type="text/javascript"></script>
        <script src="/javascripts/handlePlay.js" type="text/javascript"></script>
        <script src="/javascripts/handleSearchTracks.js" type="text/javascript"></script>
        <script src="/javascripts/handleRefreshTrack.js" type="text/javascript"></script>

        <style>

            .container {
                position: relative;
                margin: 25px 10px;
            }

            h3 {
                margin: 0;
            }

            input {
                padding: 5px;
                margin: 5px 0;
            }

            button {
                margin: 0;
            }

        </style>


    </head>

    <body>

        <div class="container">
            <h3>Returns from API appear in Developer Console</h3>
        </div>

        <div class="container">

            <h3>Test /login</h3>

            <input id="email" placeholder="Email" type="text"/> <br />
            <input id="password" placeholder="Password" type="text"/> <br />

            <button onclick="handleLogin()">Login</button>
        </div>

        <div class="container">

            <h3>Test /get_playlists</h3>

            <input id="token" placeholder="Token" type="text"/> <br />
            <input id="display_name" placeholder="Display Name" type="text" /> <br />

            <button onclick="handleRequestPlaylists()">Get Playlists</button>

        </div>

        <div class="container">

            <h3>Test /create_party</h3>

            <input id="token2" placeholder="Token" type="text"/> <br />
            <input id="display_name2" placeholder="Display Name" type="text"/> <br />
            <input id="party_name" placeholder="Party Name" type="text" /> <br />
            <input id="playlist_id" placeholder="Playlist ID" type="text" /> <br />
            <input id="track_total" placeholder="Track Total" type="text" /> <br />
            <input id="latitude" placeholder="Latitude (Degrees)" type="text" /> <br />
            <input id="longitude" placeholder="Longitude (Degrees)" type="text" /> <br />
            <input id="radius" placeholder="Radius" type="text" /> <br />

            <button onclick="handleCreateParty()">Create Party</button>

        </div>

        <div class="container">

            <h3>Test /play</h3>

            <input id="token3" placeholder="Token" type="text"/> <br />
            <input id="display_name3" placeholder="Display Name" type="text"/> <br />
            <input id="code" placeholder="Party Code" type="text" /> <br />
            <input id="track_id" placeholder="Track ID" type="text" /> <br />

            <button onclick="handlePlay()">Play</button>

        </div>

        <div class="container">

            <h3>Test /search_tracks</h3>

            <input id="token4" placeholder="Token" type="text"/> <br />
            <input id="display_name4" placeholder="Display Name" type="text"/> <br />
            <input id="search_string" placeholder="Search String" type="text" /> <br />
            <input id="page" placeholder="Page" type="text" /> <br />

            <button onclick="handleSearchTracks()">Search Tracks</button>

        </div>

        <div class="container">

            <h3>Test /refresh_track</h3>

            <input id="token5" placeholder="Token" type="text"/> <br />
            <input id="display_name5" placeholder="Display Name" type="text"/> <br />
            <input id="code2" placeholder="Code" type="text" /> <br />

            <button onclick="handleRefreshTrack()">Refresh Track</button>

        </div>

    </body>

</html>